/* Comic Neue – latin – vollständiger Font-Stack für www.inasilja.me */
/* Alle Pfade absolut ab Root: /assets/fonts/... */
/* font-display: swap für schnelles Laden & kein FOIT (Flash of Invisible Text) */

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/comic-neue-v9-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/comic-neue-v9-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/comic-neue-v9-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/comic-neue-v9-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/comic-neue-v9-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/comic-neue-v9-latin-700italic.woff2') format('woff2');
}