<!-- partials/bio.html -->
<h2>Meine verzauberte Bio:</h2>

<div class="img-container">  <!-- Neuer Wrapper für Layout -->
    <img src="v1770600266/bio_inasilja_angel.heic" 
         alt="Ina Silja Bietsch als funkelndes Angel – blondes Haar, blaue Augen, mit 'Angel'-Shirt in verspieltem Zimmer" 
         class="interactive-img"
         loading="lazy">

    <p>Ina Silja wurde von den Engeln über der menschlichen Stadt Köln verloren und hat nach ihrer irdischen Geburt eine kindliche Ausbildung im Sandkasten genossen.</p>

    <p>Die frühen sommerlichen Ausflüge ins spanische Teneriffa erweckten in ihr den Wunsch später eine Meerjungfrau zu werden. Leider wurde ihr jedoch schon früh auf tragische Weise bewusst, dass nur Engel wirklich existieren, Meerjungfrauen jedoch nicht. Deshalb entschied sich die junge blonde Frau nach der Schule eine Ausbildung zur Cross Media Designerin zu machen, denn dann würde sie die Fischmenschen halt einfach selbst designen.</p>

    <p>Aber auch in diesem Vorhaben, das Ziel schon zum Greifen nahe vor ihren blauen Augen, musste sie schnell feststellen, dass man erst klein anfangen müsse. Daher fing sie an Apps mit ihrem Lebensgefährten zu entwickeln, Rezeptbücher zu schreiben, und nebenbei die Menschen mit ihrer himmlischen Schönheit zu verzaubern.</p>

    <p>Durch all diese himmlische Magie, verwandelt sie die irdischen Kreaturen, anhand der von ihr im Sandkasten erlernten Zauberkünste, zu besseren menschlichen Wesen.</p>
</div>