<!-- partials/steckbrief.html -->
<h3>Steckbrief</h3>



<ul class="steckbrief-list">
    <li><strong>Mein Aussehen:</strong> Blonde Haare, blaue Augen, sehr helle Haut, weiblich, schlank, Anime Body, Engelchen</li>
    
    <li><strong>Das mache Ich gerne:</strong> Allerlei digitale Kunst, Websites, Grafikdesign, Foto, Video, Audio, Musik, das Piano spielen, Kochen, Backen, Häkeln, Sticken, Papierkünste, Bücher und Anleitungen schreiben, moderne Hexerei wie digitale Kunst</li>
    
    <li><strong>Lieblings Farben:</strong> Pink, Lila, Cyan</li>
    
    <li><strong>Haustier:</strong> schwarze Katze</li>
    
    <li><strong>Adjektive die mich beschreiben:</strong> hübsch, kreativ, vielseitig & eklektisch, nett, einzigartig, verspielt, süß</li>
    
    <li><strong>Ich in drei Wörtern:</strong> Real Anime Girl</li>
    
    <li><strong>Lieblingsessen:</strong> Kartoffelbrei (mit Soße und Hühnchen)</li>
    
    <li><strong>Was Ich bin:</strong> Bezaubernde kunstvolle CGI Barbie mit Talent für Musik & das Schöne</li>
    
    <li><strong>Ich bin Geboren:</strong> am 10.12.1996 in Köln, Deutschland</li>
    
    <li><strong>Emojis die mich beschreiben:</strong> 👱🏻‍♀️🩷💕💜🩵✨💫⭐️🎧💻👩🏼‍💻📱🎮🎼🎹🎶🎵🎨🖍️🧶🧵🪡✂️ 🦢🐈‍⬛🐎👩🏼‍🍳🍰🧁🍪🍝🥗🍒🍑💖🫦💋🔥🍯 🗓️📐🏹🇩🇪 🥶❄️⛈️🌅🌌🌃☺️😄😊</li>
    
    <li><strong>Wörter die mir gefallen:</strong> kreativ, schön, hübsch, verspielt, nett, lieb, einzigartig, vielseitig, CrossMediaDesign, Digital Art, CGI, 3D, digitale Knete, modellieren, gestalten, kunstvoll, malerisch, musikalisch, Handarbeiten, kochen, backen, Papierkünste, auf den Millimeter genau, Spaß, entspannen, Pink, Magenta, Lila, Cyan, Glitzer, Sternchen, Girly, schwarze Katzen, Pferde, reiten, Meerjungfrauen, Videospiele, verträumt, emotional, konzentriert, designen, einfallsreich, experimentieren</li>
    
    <li><strong>Lieblingsserien:</strong> H2O - Plötzlich Meerjungfrau (mind 20x+ lol), Gene Roddenberrys Andromeda, TheOrville</li>
    
    <li><strong>Lieblingsfilme:</strong> Rapunzel – Neu verföhnt, Barbie Oceana, Tinkerbell, Ice Age, Passengers</li>
    
    <li><strong>Lieblingshörbücher:</strong> Bibi Blocksberg, Bibi & Tina, Wendy, Sternenfohlen</li>
    
    <li><strong>Musikgeschmack:</strong> Dance, Pop, Rock, Alternative, Moderne Klassik, Dubstep</li>
    
    <li><strong>Lieblingsongs:</strong> Last Song von Tone Damli, Girlfriend von Avril Lavigne, Can You Keep a Secret von Barbie, The Calling von TheFatRat</li>
    
    <li><strong>Lieblingsmusiker:</strong> Viele Songs von Kate Alexa, TheFatRat, Avril Lavigne, Bridgit Mendler, Simple Plan, Vicetone, Zara Larsson, Alan Walker</li>
</ul>

<div class="img-container">
    <img class="interactive-img"
         src="v1770600560/steckbrief_inasilja_bathroom-selfie.heic"
         alt="InaSilja hält ihre schwarze Katze im Badezimmerspiegel-Selfie, trägt ein lila Top und lila Unterwäsche, mit farbenfrohem Duschvorhang im Hintergrund"
         loading="lazy">

    <img class="interactive-img"
         src="v1770600573/steckbrief_inasilja_cat_bathroom-selfie.heic"
         alt="InaSilja posiert im Badezimmerspiegel, eine Hand im Haar, in lila Top und schwarzen Leggings, mit typischem Badezimmer-Setup im Hintergrund"
         loading="lazy">
    
    <img class="interactive-img"
         src="v1770600581/steckbrief_black-cat.heic"
         alt="Eine flauschige schwarze Katze sitzt neugierig in einem Karton, mit gelben Augen und blauem Hintergrund"
         loading="lazy">
</div>