<!-- partials/talente.html -->
<h3>Meine Talente</h3>

<div class="talente">
    <div class="talent-item">
        <h4>Was mache Ich?</h4>
        <p>Künstlerisch unterwegs in: Pixelmator Pro, Blender, Pages, Procreate, Cap Cut, Final Cut Pro, Garage Band, Logic Pro X. Außerdem poste ich Videos auf Social Media, zeige mein Leben, mache Menschen glücklich und kreiere auch noch interessanten Aufklärungs Content.</p>
    </div>

    <div class="img-container">
        <img src="v1770682258/talente_inasilja_kunst.heic" 
             alt="Ina Silja Bietsch im Bett: Eine junge Frau mit blonden Haaren locker mit einer schwarzen Haarklammer hochgesteckt blauen Augen und konzentriertem Blick, mit weißen AirPods im Ohr, bekleidet mit einem schwarzen Tank-Top mit pink glitzernden Engelsflügel-Motiv, die mit einem weißen Apple Pencil auf einem iPad Tablet von Apple zeichnet, unter einer hellen blauen, floral gemusterten Einhorn Decke in einem gemütlichen Zimmer mit neutralem Hintergrund." 
             class="interactive-img"
             loading="lazy">
    </div>

    <div class="talent-item">
        <h4>Gestaltung</h4>
        <p>Das heißt, ich gestallte alles mögliche, von Websites, visuellen Content für Videogames, Icons, Banner und Covers, über digitale Illustrationen, bis hin zu Animationen, 3D-Modellen und Texturen. Darüberhinaus mache ich Audioeffekte und Songs, editiere zwischendurch noch Videos, kreiere Visualeffects und vollbringe noch viele andere schöne Hexereien in der CGI-Welt.</p>
    </div>

    <div class="talent-item">
        <h4>Experimentieren</h4>
        <p>Ich bin nicht nur ein blauäugiges, nettes, hübsches, blondes Mädchen, das Kochen und Backen kann, sonder experimentiere über die Küche hinaus zusätzlich auch noch am Computer mit digitaler Tinte und Knete.</p>
    </div>

    <div class="talent-item">
        <h4>Musik</h4>
        <p>Durch meine flinken Finger lasse ich die Tonleiter des Pianos erklingen, so dass meine Seele viel höher beginnt zu schwingen. Beflügelt von den Melodien der hohen und tiefen Oktaven lass ich mein Inneres wie den Regen im Wind tanzen.</p>
    </div>

    <div class="img-container">
        <img src="v1770682207/talente_inasilja_musik.heic" 
             alt="Ina Silja Bietsch spielt konzentriert Klavier, mit blondem Haar zu einem Zopf geflochten, in einem schwarzen Top mit Glitzer-Design, Hände auf den Tasten des Klavieres"
             class="interactive-img"
             loading="lazy">
    </div>

    <div class="talent-item">
        <h4>Handwerk</h4>
        <p>Das höchst konzentrierte Hantieren mit Papier und Fäden lässt mich entspannen, deswegen beschäftige ich mich auch gerne mit verschiedensten Künsten wie Origami und Quilling, wodurch ich neue filigrane Werke erschaffe.</p>
    </div>

    <div class="talent-item">
        <h4>Katzenliebe</h4>
        <p>Außerdem mag ich es schwarze, flauschige, intelligente Katzen zu knuddeln. Doch leider klauen diese mir auch zu ihrer eigenen Belustigung die Fäden, wodurch mir jene dann wiederum zum Sticken und Häkeln fehlen.</p>
    </div>

    <div class="talent-item">
        <h4>Schreiben</h4>
        <p>Irgendwann erwuchs aus meiner großen Liebe zum Kreieren und Erschaffen das Verlangen, etwas mit anderen teilen zu wollen. Also halte ich mein Wissen fortan in Anleitungen und Büchern fest.</p>
    </div>

    <div class="img-container">
        <img src="https://res.cloudinary.com/dekqpnsvv/image/upload/v1770682566/talente_inasilja_kueche.heic" 
             alt="Ina Silja Bietsch in der Küche: Eine junge Frau mit blonden Haaren locker zusammen gebunden, blauen Augen und konzentriertem Blick, bekleidet mit einem schwarzen Hoodie, Hotpants und schwarzen Nylons. Sie belegt eine rohe Pizza mit Schinken und Käse auf einem Backblech in einer hellen, heimischen Küche mit Fenster, Spüle und Haushaltsgegenständen im Hintergrund." 
             class="interactive-img"
             loading="lazy">
    </div>

    <div class="talent-item">
        <h4>Kochen & Backen</h4>
        <p>Ich liebe es in der Küche Essen zu zubereiten. Das Schnippeln von Früchten & Gemüse, das Mischen von Zutaten, das Rühren, Kochen & Backen bereitet mir große Freude. Ich mache das alles sehr genau mit höchster Prezesion, tja und ich findes das alles unglaublich beruigend. Naja aber das Wichtigste ist, dass es schmeckt!</p>
    </div>

    <div class="talent-item">
        <h4>Persönlich</h4>
        <p>Wie man sehen kann steht meiner kreativen Seite absolut nichts im Weg. Ich verleihe Cillexia durch mein einzigartig bezauberndes Wesen eine besondere Note. Zusammen in Harmonie mit der Cillexianischen OneVoice verändere ich nun unaufhaltsam die Welt. Ich verzaubere die Menschen mit meinem himmlischen Charme und nutzte mein weibliches Wesen um die Welt schöner zu machen!</p>
    </div>
</div>